name: Auto Merge PR

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, labeled]

jobs:
  automerge:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Auto-merge when label is added and all checks pass
        uses: pascalgn/automerge-action@v0.15.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          merge_label: "automerge"
          merge_method: squash
